In [1]:
import pandas
import numpy
import sklearn.feature_selection 
from pandas import read_csv
from pandas import set_option
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2


data = pandas.read_csv('./US_Accidents_March23.csv')
data2 = pandas.read_csv('./train_mobile.csv')
df = pandas.read_csv('./US_Accidents_March23.csv')

In [2]:
set_option('display.width', 100)
correlations = data.corr(method='pearson', numeric_only=True)
print(correlations)

                   Severity  Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  Temperature(F)  \
Severity           1.000000  -0.076981  -0.103261      NaN      NaN      0.034340        0.046538
Start_Lat         -0.076981   1.000000   0.861073      NaN      NaN      0.103625       -0.567659
Start_Lng         -0.103261   0.861073   1.000000      NaN      NaN      0.120892       -0.748900
End_Lat                 NaN        NaN        NaN      NaN      NaN           NaN             NaN
End_Lng                 NaN        NaN        NaN      NaN      NaN           NaN             NaN
Distance(mi)       0.034340   0.103625   0.120892      NaN      NaN      1.000000       -0.109664
Temperature(F)     0.046538  -0.567659  -0.748900      NaN      NaN     -0.109664        1.000000
Wind_Chill(F)     -0.227485  -0.193373  -0.181182      NaN      NaN     -0.017924        0.977217
Humidity(%)       -0.051149   0.265370   0.468385      NaN      NaN      0.080519       -0.804728
Pressure(in)       0.002198   0.004355   0.061179      NaN      NaN     -0.042234       -0.224227
Visibility(mi)     0.048129  -0.437290  -0.500385      NaN      NaN     -0.103921        0.489510
Wind_Speed(mph)    0.066140  -0.010574   0.016506      NaN      NaN      0.024571        0.021474
Precipitation(in)  0.060461   0.190027   0.083097      NaN      NaN      0.083497        0.247758

                   Wind_Chill(F)  Humidity(%)  Pressure(in)  Visibility(mi)  Wind_Speed(mph)  \
Severity               -0.227485    -0.051149      0.002198        0.048129         0.066140
Start_Lat              -0.193373     0.265370      0.004355       -0.437290        -0.010574
Start_Lng              -0.181182     0.468385      0.061179       -0.500385         0.016506
End_Lat                      NaN          NaN           NaN             NaN              NaN
End_Lng                      NaN          NaN           NaN             NaN              NaN
Distance(mi)           -0.017924     0.080519     -0.042234       -0.103921         0.024571
Temperature(F)          0.977217    -0.804728     -0.224227        0.489510         0.021474
Wind_Chill(F)           1.000000     0.092478     -0.276611        0.196162        -0.136024
Humidity(%)             0.092478     1.000000      0.020229       -0.482956        -0.080342
Pressure(in)           -0.276611     0.020229      1.000000        0.193466        -0.073640
Visibility(mi)          0.196162    -0.482956      0.193466        1.000000         0.079107
Wind_Speed(mph)        -0.136024    -0.080342     -0.073640        0.079107         1.000000
Precipitation(in)       0.404798     0.285182     -0.383209       -0.047328         0.194012

                   Precipitation(in)
Severity                    0.060461
Start_Lat                   0.190027
Start_Lng                   0.083097
End_Lat                          NaN
End_Lng                          NaN
Distance(mi)                0.083497
Temperature(F)              0.247758
Wind_Chill(F)               0.404798
Humidity(%)                 0.285182
Pressure(in)               -0.383209
Visibility(mi)             -0.047328
Wind_Speed(mph)             0.194012
Precipitation(in)           1.000000

In [3]:
# dalla matrice di correlazione vediamo che sono correlate:
#        Start_Lat e Start_Lng (0.86 ca)
#        Start_Lng e Temperature (-0.74 ca)
#        Wind_Chill e Temperature (0.97 ca)
#        Humidity e Temperature (-0.87 ca)

In [4]:
# metodi di scelta delle feature del dataset train_mobile con price range scelta come variabile da predirre (output)

In [5]:
# uso Univariate Selection, un test statistico per selezionare le feature che incidono 
# maggiormente sulla variabile in output

array2 = data2.values
X2 = array2[:,0:20]
Y2 = array2[:,20]

print(data2)

# estrazione features
test2 = SelectKBest(score_func=chi2, k=4)
fit2 = test2.fit(X2,Y2)

# riassunto punteggi
print(fit2.scores_)
features2 = fit2.transform(X2)

# riassunto features selezionate
print(features2[0:5,:])

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  mobile_wt  \
0               842     0          2.2         0   1       0           7    0.6        188
1              1021     1          0.5         1   0       1          53    0.7        136
2               563     1          0.5         1   2       1          41    0.9        145
3               615     1          2.5         0   0       0          10    0.8        131
4              1821     1          1.2         0  13       1          44    0.6        141
...             ...   ...          ...       ...  ..     ...         ...    ...        ...
1995            794     1          0.5         1   0       1           2    0.8        106
1996           1965     1          2.6         1   0       0          39    0.2        187
1997           1911     0          0.9         1   1       1          36    0.7        108
1998           1512     0          0.9         0   4       1          46    0.1        145
1999            510     1          2.0         1   5       1          45    0.9        168

      n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  three_g  touch_screen  wifi  \
0           2  ...         20       756  2549     9     7         19        0             0     1
1           3  ...        905      1988  2631    17     3          7        1             1     0
2           5  ...       1263      1716  2603    11     2          9        1             1     0
3           6  ...       1216      1786  2769    16     8         11        1             0     0
4           2  ...       1208      1212  1411     8     2         15        1             1     0
...       ...  ...        ...       ...   ...   ...   ...        ...      ...           ...   ...
1995        6  ...       1222      1890   668    13     4         19        1             1     0
1996        4  ...        915      1965  2032    11    10         16        1             1     1
1997        8  ...        868      1632  3057     9     1          5        1             1     0
1998        5  ...        336       670   869    18    10         19        1             1     1
1999        6  ...        483       754  3919    19     4          2        1             1     1

      price_range
0               1
1               2
2               2
3               2
4               1
...           ...
1995            0
1996            2
1997            3
1998            0
1999            3

[2000 rows x 21 columns]
[1.41298666e+04 7.23232323e-01 6.48365906e-01 6.31010795e-01
 1.01351665e+01 1.52157239e+00 8.98391244e+01 7.45819631e-01
 9.59728626e+01 9.09755558e+00 9.18605355e+00 1.73635695e+04
 9.81058675e+03 9.31267519e+05 9.61487832e+00 1.64803191e+01
 1.32364000e+01 3.27642810e-01 1.92842942e+00 4.22090730e-01]
[[ 842.   20.  756. 2549.]
 [1021.  905. 1988. 2631.]
 [ 563. 1263. 1716. 2603.]
 [ 615. 1216. 1786. 2769.]
 [1821. 1208. 1212. 1411.]]

In [6]:
# le features che incidono maggiormente sul price range sono in ordine: 
#        ram (9.31267519e+05)
#        px_height (1.73635695e+04)
#        px_width (9.81058675e+03)
#        battery_power (1.41298666e+04)
# la matrice sotto indica i valori in input delle features selezionate (abbiamo preso le prime 5 righe 
# per avere un output più leggibile)

In [7]:
# prova con il dataset sugli incidenti stradali

print(data)

          ID   Source  Severity           Start_Time             End_Time  Start_Lat   Start_Lng  \
0        A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00  39.865147  -84.058723
1        A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59  39.928059  -82.831184
2        A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27  39.063148  -84.032608
3        A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34  39.747753  -84.205582
4        A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07  39.627781  -84.188354
...      ...      ...       ...                  ...                  ...        ...         ...
2831  A-2832  Source2         2  2016-07-12 15:12:42  2016-07-12 16:27:42  38.474407 -121.419067
2832  A-2833  Source2         2  2016-07-12 15:45:38  2016-07-12 17:00:38  38.495541 -121.511070
2833  A-2834  Source2         3  2016-07-12 15:26:19  2016-07-12 16:41:19  38.588917 -121.415375
2834  A-2835  Source2         2  2016-07-12 15:50:04  2016-07-12 17:05:04  38.742481 -120.747398
2835  A-2836  Source2         2  2016-07-12 16:12:21  2016-07-12 16:42:21  38.567966 -122.829018

      End_Lat  End_Lng  Distance(mi)  ... Roundabout Station   Stop Traffic_Calming  \
0         NaN      NaN          0.01  ...      False   False  False           False
1         NaN      NaN          0.01  ...      False   False  False           False
2         NaN      NaN          0.01  ...      False   False  False           False
3         NaN      NaN          0.01  ...      False   False  False           False
4         NaN      NaN          0.01  ...      False   False  False           False
...       ...      ...           ...  ...        ...     ...    ...             ...
2831      NaN      NaN          0.00  ...      False   False  False           False
2832      NaN      NaN          0.00  ...      False   False  False           False
2833      NaN      NaN          0.00  ...      False   False  False           False
2834      NaN      NaN          0.00  ...      False   False  False           False
2835      NaN      NaN          0.00  ...        NaN     NaN    NaN             NaN

     Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0             False        False          Night          Night             Night
1             False        False          Night          Night             Night
2              True        False          Night          Night               Day
3             False        False          Night            Day               Day
4              True        False            Day            Day               Day
...             ...          ...            ...            ...               ...
2831          False        False            Day            Day               Day
2832          False        False            Day            Day               Day
2833           True        False            Day            Day               Day
2834          False        False            Day            Day               Day
2835            NaN          NaN            NaN            NaN               NaN

     Astronomical_Twilight
0                    Night
1                      Day
2                      Day
3                      Day
4                      Day
...                    ...
2831                   Day
2832                   Day
2833                   Day
2834                   Day
2835                   NaN

[2836 rows x 46 columns]

In [8]:
# Rimozione feature ritenute poco utili
data = data.drop(['ID', 'Source', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'State', 'Zipcode', 'Country', 'Street', 'City', 'County', 'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Wind_Chill(F)', 'Humidity(%)', 'Wind_Direction'], axis=1)
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03
2835         2  2016-07-12 16:12:21  2016-07-12 16:42:21             NaN           NaN

      Visibility(mi)  Wind_Speed(mph)  Precipitation(in) Weather_Condition Amenity  ...  \
0               10.0              NaN               0.02        Light Rain   False  ...
1               10.0              NaN               0.00        Light Rain   False  ...
2               10.0              3.5                NaN          Overcast   False  ...
3                9.0              4.6                NaN     Mostly Cloudy   False  ...
4                6.0              3.5                NaN     Mostly Cloudy   False  ...
...              ...              ...                ...               ...     ...  ...
2831            10.0              6.9                NaN             Clear   False  ...
2832            10.0              9.2                NaN             Clear   False  ...
2833            10.0              3.5                NaN             Clear   False  ...
2834            10.0              6.9                NaN             Clear   False  ...
2835             NaN              NaN                NaN               NaN     NaN  ...

     Roundabout Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0         False   False  False           False          False        False          Night
1         False   False  False           False          False        False          Night
2         False   False  False           False           True        False          Night
3         False   False  False           False          False        False          Night
4         False   False  False           False           True        False            Day
...         ...     ...    ...             ...            ...          ...            ...
2831      False   False  False           False          False        False            Day
2832      False   False  False           False          False        False            Day
2833      False   False  False           False           True        False            Day
2834      False   False  False           False          False        False            Day
2835        NaN     NaN    NaN             NaN            NaN          NaN            NaN

     Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night             Night                 Night
1             Night             Night                   Day
2             Night               Day                   Day
3               Day               Day                   Day
4               Day               Day                   Day
...             ...               ...                   ...
2831            Day               Day                   Day
2832            Day               Day                   Day
2833            Day               Day                   Day
2834            Day               Day                   Day
2835            NaN               NaN                   NaN

[2836 rows x 26 columns]

In [9]:
data.Roundabout.value_counts()

False    2834
True        1
Name: Roundabout, dtype: int64

In [10]:
data.Station.value_counts()

False    2786
True       49
Name: Station, dtype: int64

In [11]:
data.Stop.value_counts()

False    2716
True      119
Name: Stop, dtype: int64

In [12]:
data.Traffic_Calming.value_counts()

False    2833
True        2
Name: Traffic_Calming, dtype: int64

In [13]:
data.Traffic_Signal.value_counts()

False    2463
True      372
Name: Traffic_Signal, dtype: int64

In [14]:
data.Turning_Loop.value_counts()

False    2835
Name: Turning_Loop, dtype: int64

In [15]:
data = data.drop(['Roundabout', 'Station', 'Traffic_Calming', 'Turning_Loop'], axis=1)
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03
2835         2  2016-07-12 16:12:21  2016-07-12 16:42:21             NaN           NaN

      Visibility(mi)  Wind_Speed(mph)  Precipitation(in) Weather_Condition Amenity  ... Give_Way  \
0               10.0              NaN               0.02        Light Rain   False  ...    False
1               10.0              NaN               0.00        Light Rain   False  ...    False
2               10.0              3.5                NaN          Overcast   False  ...    False
3                9.0              4.6                NaN     Mostly Cloudy   False  ...    False
4                6.0              3.5                NaN     Mostly Cloudy   False  ...    False
...              ...              ...                ...               ...     ...  ...      ...
2831            10.0              6.9                NaN             Clear   False  ...    False
2832            10.0              9.2                NaN             Clear   False  ...    False
2833            10.0              3.5                NaN             Clear   False  ...    False
2834            10.0              6.9                NaN             Clear   False  ...    False
2835             NaN              NaN                NaN               NaN     NaN  ...      NaN

     Junction No_Exit Railway   Stop Traffic_Signal Sunrise_Sunset Civil_Twilight  \
0       False   False   False  False          False          Night          Night
1       False   False   False  False          False          Night          Night
2       False   False   False  False           True          Night          Night
3       False   False   False  False          False          Night            Day
4       False   False   False  False           True            Day            Day
...       ...     ...     ...    ...            ...            ...            ...
2831    False   False   False  False          False            Day            Day
2832    False   False   False  False          False            Day            Day
2833    False   False   False  False           True            Day            Day
2834    False   False   False  False          False            Day            Day
2835      NaN     NaN     NaN    NaN            NaN            NaN            NaN

     Nautical_Twilight Astronomical_Twilight
0                Night                 Night
1                Night                   Day
2                  Day                   Day
3                  Day                   Day
4                  Day                   Day
...                ...                   ...
2831               Day                   Day
2832               Day                   Day
2833               Day                   Day
2834               Day                   Day
2835               NaN                   NaN

[2836 rows x 22 columns]

In [16]:
print(data.columns)

Index(['Severity', 'Start_Time', 'End_Time', 'Temperature(F)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Stop', 'Traffic_Signal', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [17]:
data = data.drop(['Amenity', 'Bump', 'Give_Way', 'No_Exit', 'Railway'], axis=1)  #abbiamo fatto lo stesso controllo di prima per il numero di true/false
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03
2835         2  2016-07-12 16:12:21  2016-07-12 16:42:21             NaN           NaN

      Visibility(mi)  Wind_Speed(mph)  Precipitation(in) Weather_Condition Crossing Junction  \
0               10.0              NaN               0.02        Light Rain    False    False
1               10.0              NaN               0.00        Light Rain    False    False
2               10.0              3.5                NaN          Overcast    False    False
3                9.0              4.6                NaN     Mostly Cloudy    False    False
4                6.0              3.5                NaN     Mostly Cloudy    False    False
...              ...              ...                ...               ...      ...      ...
2831            10.0              6.9                NaN             Clear    False    False
2832            10.0              9.2                NaN             Clear    False    False
2833            10.0              3.5                NaN             Clear     True    False
2834            10.0              6.9                NaN             Clear    False    False
2835             NaN              NaN                NaN               NaN      NaN      NaN

       Stop Traffic_Signal Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0     False          False          Night          Night             Night                 Night
1     False          False          Night          Night             Night                   Day
2     False           True          Night          Night               Day                   Day
3     False          False          Night            Day               Day                   Day
4     False           True            Day            Day               Day                   Day
...     ...            ...            ...            ...               ...                   ...
2831  False          False            Day            Day               Day                   Day
2832  False          False            Day            Day               Day                   Day
2833  False           True            Day            Day               Day                   Day
2834  False          False            Day            Day               Day                   Day
2835    NaN            NaN            NaN            NaN               NaN                   NaN

[2836 rows x 17 columns]

In [18]:
data['Precipitation(in)'].isnull().sum()

2648

In [19]:
data['Precipitation(in)'].value_counts()

0.00    107
0.01     27
0.02     17
0.05      6
0.08      5
0.16      4
0.10      4
0.04      3
0.09      3
0.03      2
0.07      2
0.06      2
0.11      2
0.19      2
0.18      1
0.22      1
Name: Precipitation(in), dtype: int64

In [20]:
data['Precipitation(in)'].mean()

0.021595744680851063

In [21]:
# La colonna della precipitazione contiene quasi tutti NaN, con un valore medio dei non NaN prossimo allo 0, quindi la droppiamo
data = data.drop(['Precipitation(in)'], axis=1)
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03
2835         2  2016-07-12 16:12:21  2016-07-12 16:42:21             NaN           NaN

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0              NaN        Light Rain    False    False  False          False
1               10.0              NaN        Light Rain    False    False  False          False
2               10.0              3.5          Overcast    False    False  False           True
3                9.0              4.6     Mostly Cloudy    False    False  False          False
4                6.0              3.5     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2831            10.0              6.9             Clear    False    False  False          False
2832            10.0              9.2             Clear    False    False  False          False
2833            10.0              3.5             Clear     True    False  False           True
2834            10.0              6.9             Clear    False    False  False          False
2835             NaN              NaN               NaN      NaN      NaN    NaN            NaN

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night          Night             Night                 Night
1             Night          Night             Night                   Day
2             Night          Night               Day                   Day
3             Night            Day               Day                   Day
4               Day            Day               Day                   Day
...             ...            ...               ...                   ...
2831            Day            Day               Day                   Day
2832            Day            Day               Day                   Day
2833            Day            Day               Day                   Day
2834            Day            Day               Day                   Day
2835            NaN            NaN               NaN                   NaN

[2836 rows x 16 columns]

In [22]:
data['Stop'].isnull().sum()

1

In [23]:
# La riga 2835 contiene quasi solo NaN, quindi la togliamo
data = data.drop(2835)
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2830         3  2016-07-12 15:00:15  2016-07-12 16:15:15            89.1         29.91
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0              NaN        Light Rain    False    False  False          False
1               10.0              NaN        Light Rain    False    False  False          False
2               10.0              3.5          Overcast    False    False  False           True
3                9.0              4.6     Mostly Cloudy    False    False  False          False
4                6.0              3.5     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2830            10.0              9.2               NaN    False     True  False          False
2831            10.0              6.9             Clear    False    False  False          False
2832            10.0              9.2             Clear    False    False  False          False
2833            10.0              3.5             Clear     True    False  False           True
2834            10.0              6.9             Clear    False    False  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night          Night             Night                 Night
1             Night          Night             Night                   Day
2             Night          Night               Day                   Day
3             Night            Day               Day                   Day
4               Day            Day               Day                   Day
...             ...            ...               ...                   ...
2830            Day            Day               Day                   Day
2831            Day            Day               Day                   Day
2832            Day            Day               Day                   Day
2833            Day            Day               Day                   Day
2834            Day            Day               Day                   Day

[2835 rows x 16 columns]

In [24]:
data['Temperature(F)'].fillna(data['Temperature(F)'].mean(), inplace=True)
data['Temperature(F)'].isnull().sum()

0

In [25]:
data['Pressure(in)'].fillna(data['Pressure(in)'].mean(), inplace=True)
data['Pressure(in)'].isnull().sum()

0

In [26]:
data['Visibility(mi)'].fillna(data['Visibility(mi)'].mean(), inplace=True)
data['Visibility(mi)'].isnull().sum()

0

In [27]:
data['Wind_Speed(mph)'].fillna(data['Wind_Speed(mph)'].mean(), inplace=True)
data['Wind_Speed(mph)'].isnull().sum()

0

In [28]:
data['Weather_Condition'].isnull().sum()

20

In [29]:
data['Weather_Condition'].value_counts()

Clear                     1776
Overcast                   316
Partly Cloudy              235
Mostly Cloudy              149
Scattered Clouds           109
Light Snow                 104
Light Rain                  44
Haze                        30
Rain                        28
Light Freezing Drizzle      10
Heavy Rain                   3
Snow                         2
Fog                          2
Light Drizzle                1
Shallow Fog                  1
Light Freezing Rain          1
Cloudy                       1
Drizzle                      1
Light Rain Showers           1
Mist                         1
Name: Weather_Condition, dtype: int64

In [30]:
# Per le righe con Weather_Condition=NaN, possiamo o rimuovere le intere righe, o assumere Clear come valore, essendo nettamente il più frequente
print(data.loc[data['Weather_Condition'].isnull()])

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
439          2  2016-03-01 17:23:06  2016-03-01 18:23:06       48.200000     29.510000
601          3  2016-03-11 07:28:40  2016-03-11 07:58:40       64.490319     29.959202
1478         3  2016-06-27 20:42:18  2016-06-27 22:12:18       95.000000     29.870000
1685         2  2016-06-29 14:44:14  2016-06-29 15:29:14       91.400000     29.940000
1957         2  2016-07-03 03:54:45  2016-07-03 04:40:40       64.490319     29.959202
1968         2  2016-07-03 08:41:05  2016-07-03 09:26:05       64.490319     29.959202
1973         2  2016-07-03 11:59:28  2016-07-03 12:44:28       64.490319     29.959202
1978         2  2016-07-03 13:12:18  2016-07-03 13:57:18       64.490319     29.959202
1989         2  2016-07-03 15:33:37  2016-07-03 17:03:37       64.490319     29.959202
2137         2  2016-07-05 09:44:44  2016-07-05 10:14:44       64.490319     29.959202
2145         2  2016-07-05 10:43:04  2016-07-05 11:13:04       64.490319     29.959202
2342         2  2016-07-07 03:01:28  2016-07-07 04:01:28       64.490319     29.959202
2343         2  2016-07-07 02:54:40  2016-07-07 03:54:40       64.490319     29.959202
2344         2  2016-07-07 02:50:57  2016-07-07 03:50:57       64.490319     29.959202
2360         2  2016-07-07 10:10:21  2016-07-07 10:40:21       64.490319     29.959202
2364         2  2016-07-07 10:31:44  2016-07-07 11:16:44       64.490319     29.959202
2384         2  2016-07-07 12:25:25  2016-07-07 12:55:25       64.490319     29.959202
2769         3  2016-07-12 10:16:39  2016-07-12 10:46:39       75.000000     29.930000
2770         3  2016-07-12 10:15:55  2016-07-12 10:45:55       75.000000     29.930000
2830         3  2016-07-12 15:00:15  2016-07-12 16:15:15       89.100000     29.910000

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
439        10.000000         9.200000               NaN    False    False  False          False
601         9.163876         9.817681               NaN    False    False  False          False
1478       10.000000         6.900000               NaN    False    False  False          False
1685       10.000000        15.000000               NaN    False    False  False          False
1957        9.163876         9.817681               NaN     True    False  False           True
1968        9.163876         9.817681               NaN    False    False  False          False
1973        9.163876         9.817681               NaN    False    False  False          False
1978        9.163876         9.817681               NaN    False    False  False          False
1989        9.163876         9.817681               NaN    False    False  False          False
2137        9.163876         9.817681               NaN    False    False  False           True
2145        9.163876         9.817681               NaN    False    False   True          False
2342        9.163876         9.817681               NaN    False     True  False          False
2343        9.163876         9.817681               NaN    False    False  False          False
2344        9.163876         9.817681               NaN     True    False  False          False
2360        9.163876         9.817681               NaN    False    False  False          False
2364        9.163876         9.817681               NaN    False    False  False          False
2384        9.163876         9.817681               NaN    False    False  False          False
2769       10.000000         9.200000               NaN    False    False  False          False
2770       10.000000         9.200000               NaN    False     True  False          False
2830       10.000000         9.200000               NaN    False     True  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
439             Day            Day               Day                   Day
601             Day            Day               Day                   Day
1478          Night            Day               Day                   Day
1685            Day            Day               Day                   Day
1957          Night          Night             Night                 Night
1968            Day            Day               Day                   Day
1973            Day            Day               Day                   Day
1978            Day            Day               Day                   Day
1989            Day            Day               Day                   Day
2137            Day            Day               Day                   Day
2145            Day            Day               Day                   Day
2342          Night          Night             Night                 Night
2343          Night          Night             Night                 Night
2344          Night          Night             Night                 Night
2360            Day            Day               Day                   Day
2364            Day            Day               Day                   Day
2384            Day            Day               Day                   Day
2769            Day            Day               Day                   Day
2770            Day            Day               Day                   Day
2830            Day            Day               Day                   Day

In [31]:
# Notiamo che molte righe in cui è NaN, corrispondono a righe in cui prima abbiamo sostituito alcuni NaN con valori medi,
# ha quindi senso togliere l'intera riga
data = data.dropna(subset=['Weather_Condition'])
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2829         3  2016-07-12 14:43:08  2016-07-12 15:13:08            93.9         29.88
2831         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2832         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2833         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2834         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0         9.817681        Light Rain    False    False  False          False
1               10.0         9.817681        Light Rain    False    False  False          False
2               10.0         3.500000          Overcast    False    False  False           True
3                9.0         4.600000     Mostly Cloudy    False    False  False          False
4                6.0         3.500000     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2829            10.0        10.400000             Clear    False    False  False          False
2831            10.0         6.900000             Clear    False    False  False          False
2832            10.0         9.200000             Clear    False    False  False          False
2833            10.0         3.500000             Clear     True    False  False           True
2834            10.0         6.900000             Clear    False    False  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night          Night             Night                 Night
1             Night          Night             Night                   Day
2             Night          Night               Day                   Day
3             Night            Day               Day                   Day
4               Day            Day               Day                   Day
...             ...            ...               ...                   ...
2829            Day            Day               Day                   Day
2831            Day            Day               Day                   Day
2832            Day            Day               Day                   Day
2833            Day            Day               Day                   Day
2834            Day            Day               Day                   Day

[2815 rows x 16 columns]

In [32]:
# Rinumeriamo gli indici delle righe
data = data.reset_index(drop=True)
print(data)

      Severity           Start_Time             End_Time  Temperature(F)  Pressure(in)  \
0            3  2016-02-08 05:46:00  2016-02-08 11:00:00            36.9         29.68
1            2  2016-02-08 06:07:59  2016-02-08 06:37:59            37.9         29.65
2            2  2016-02-08 06:49:27  2016-02-08 07:19:27            36.0         29.67
3            3  2016-02-08 07:23:34  2016-02-08 07:53:34            35.1         29.64
4            2  2016-02-08 07:39:07  2016-02-08 08:09:07            36.0         29.65
...        ...                  ...                  ...             ...           ...
2810         3  2016-07-12 14:43:08  2016-07-12 15:13:08            93.9         29.88
2811         2  2016-07-12 15:12:42  2016-07-12 16:27:42            87.1         29.91
2812         2  2016-07-12 15:45:38  2016-07-12 17:00:38            88.0         29.89
2813         3  2016-07-12 15:26:19  2016-07-12 16:41:19            89.6         29.91
2814         2  2016-07-12 15:50:04  2016-07-12 17:05:04            84.2         30.03

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0         9.817681        Light Rain    False    False  False          False
1               10.0         9.817681        Light Rain    False    False  False          False
2               10.0         3.500000          Overcast    False    False  False           True
3                9.0         4.600000     Mostly Cloudy    False    False  False          False
4                6.0         3.500000     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2810            10.0        10.400000             Clear    False    False  False          False
2811            10.0         6.900000             Clear    False    False  False          False
2812            10.0         9.200000             Clear    False    False  False          False
2813            10.0         3.500000             Clear     True    False  False           True
2814            10.0         6.900000             Clear    False    False  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night          Night             Night                 Night
1             Night          Night             Night                   Day
2             Night          Night               Day                   Day
3             Night            Day               Day                   Day
4               Day            Day               Day                   Day
...             ...            ...               ...                   ...
2810            Day            Day               Day                   Day
2811            Day            Day               Day                   Day
2812            Day            Day               Day                   Day
2813            Day            Day               Day                   Day
2814            Day            Day               Day                   Day

[2815 rows x 16 columns]

In [33]:
# Verifichiamo se ci sono ancora valori NaN da correggere
data.isna().any().any()

False

In [34]:
data['Start_Time'] = pandas.to_datetime(data['Start_Time'])
data['End_Time'] = pandas.to_datetime(data['End_Time'])
print(data)

      Severity          Start_Time            End_Time  Temperature(F)  Pressure(in)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00            36.9         29.68
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59            37.9         29.65
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27            36.0         29.67
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34            35.1         29.64
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07            36.0         29.65
...        ...                 ...                 ...             ...           ...
2810         3 2016-07-12 14:43:08 2016-07-12 15:13:08            93.9         29.88
2811         2 2016-07-12 15:12:42 2016-07-12 16:27:42            87.1         29.91
2812         2 2016-07-12 15:45:38 2016-07-12 17:00:38            88.0         29.89
2813         3 2016-07-12 15:26:19 2016-07-12 16:41:19            89.6         29.91
2814         2 2016-07-12 15:50:04 2016-07-12 17:05:04            84.2         30.03

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0         9.817681        Light Rain    False    False  False          False
1               10.0         9.817681        Light Rain    False    False  False          False
2               10.0         3.500000          Overcast    False    False  False           True
3                9.0         4.600000     Mostly Cloudy    False    False  False          False
4                6.0         3.500000     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2810            10.0        10.400000             Clear    False    False  False          False
2811            10.0         6.900000             Clear    False    False  False          False
2812            10.0         9.200000             Clear    False    False  False          False
2813            10.0         3.500000             Clear     True    False  False           True
2814            10.0         6.900000             Clear    False    False  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0             Night          Night             Night                 Night
1             Night          Night             Night                   Day
2             Night          Night               Day                   Day
3             Night            Day               Day                   Day
4               Day            Day               Day                   Day
...             ...            ...               ...                   ...
2810            Day            Day               Day                   Day
2811            Day            Day               Day                   Day
2812            Day            Day               Day                   Day
2813            Day            Day               Day                   Day
2814            Day            Day               Day                   Day

[2815 rows x 16 columns]

In [35]:
data['Duration'] = data.End_Time - data.Start_Time 
data['Duration'] = data['Duration'].apply(lambda x:round(x.total_seconds() / 60) ) 
print(data)

      Severity          Start_Time            End_Time  Temperature(F)  Pressure(in)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00            36.9         29.68
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59            37.9         29.65
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27            36.0         29.67
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34            35.1         29.64
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07            36.0         29.65
...        ...                 ...                 ...             ...           ...
2810         3 2016-07-12 14:43:08 2016-07-12 15:13:08            93.9         29.88
2811         2 2016-07-12 15:12:42 2016-07-12 16:27:42            87.1         29.91
2812         2 2016-07-12 15:45:38 2016-07-12 17:00:38            88.0         29.89
2813         3 2016-07-12 15:26:19 2016-07-12 16:41:19            89.6         29.91
2814         2 2016-07-12 15:50:04 2016-07-12 17:05:04            84.2         30.03

      Visibility(mi)  Wind_Speed(mph) Weather_Condition Crossing Junction   Stop Traffic_Signal  \
0               10.0         9.817681        Light Rain    False    False  False          False
1               10.0         9.817681        Light Rain    False    False  False          False
2               10.0         3.500000          Overcast    False    False  False           True
3                9.0         4.600000     Mostly Cloudy    False    False  False          False
4                6.0         3.500000     Mostly Cloudy    False    False  False           True
...              ...              ...               ...      ...      ...    ...            ...
2810            10.0        10.400000             Clear    False    False  False          False
2811            10.0         6.900000             Clear    False    False  False          False
2812            10.0         9.200000             Clear    False    False  False          False
2813            10.0         3.500000             Clear     True    False  False           True
2814            10.0         6.900000             Clear    False    False  False          False

     Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight  Duration
0             Night          Night             Night                 Night       314
1             Night          Night             Night                   Day        30
2             Night          Night               Day                   Day        30
3             Night            Day               Day                   Day        30
4               Day            Day               Day                   Day        30
...             ...            ...               ...                   ...       ...
2810            Day            Day               Day                   Day        30
2811            Day            Day               Day                   Day        75
2812            Day            Day               Day                   Day        75
2813            Day            Day               Day                   Day        75
2814            Day            Day               Day                   Day        75

[2815 rows x 17 columns]

In [36]:
# A questo punto la colonna End_Time è superflua
data = data.drop(['End_Time'], axis=1)
print(data)

      Severity          Start_Time  Temperature(F)  Pressure(in)  Visibility(mi)  Wind_Speed(mph)  \
0            3 2016-02-08 05:46:00            36.9         29.68            10.0         9.817681
1            2 2016-02-08 06:07:59            37.9         29.65            10.0         9.817681
2            2 2016-02-08 06:49:27            36.0         29.67            10.0         3.500000
3            3 2016-02-08 07:23:34            35.1         29.64             9.0         4.600000
4            2 2016-02-08 07:39:07            36.0         29.65             6.0         3.500000
...        ...                 ...             ...           ...             ...              ...
2810         3 2016-07-12 14:43:08            93.9         29.88            10.0        10.400000
2811         2 2016-07-12 15:12:42            87.1         29.91            10.0         6.900000
2812         2 2016-07-12 15:45:38            88.0         29.89            10.0         9.200000
2813         3 2016-07-12 15:26:19            89.6         29.91            10.0         3.500000
2814         2 2016-07-12 15:50:04            84.2         30.03            10.0         6.900000

     Weather_Condition Crossing Junction   Stop Traffic_Signal Sunrise_Sunset Civil_Twilight  \
0           Light Rain    False    False  False          False          Night          Night
1           Light Rain    False    False  False          False          Night          Night
2             Overcast    False    False  False           True          Night          Night
3        Mostly Cloudy    False    False  False          False          Night            Day
4        Mostly Cloudy    False    False  False           True            Day            Day
...                ...      ...      ...    ...            ...            ...            ...
2810             Clear    False    False  False          False            Day            Day
2811             Clear    False    False  False          False            Day            Day
2812             Clear    False    False  False          False            Day            Day
2813             Clear     True    False  False           True            Day            Day
2814             Clear    False    False  False          False            Day            Day

     Nautical_Twilight Astronomical_Twilight  Duration
0                Night                 Night       314
1                Night                   Day        30
2                  Day                   Day        30
3                  Day                   Day        30
4                  Day                   Day        30
...                ...                   ...       ...
2810               Day                   Day        30
2811               Day                   Day        75
2812               Day                   Day        75
2813               Day                   Day        75
2814               Day                   Day        75

[2815 rows x 16 columns]

In [37]:
data = data.replace([True, False], [1, 0])
data['Sunrise_Sunset'] = data['Sunrise_Sunset'].replace({'Day': 1, 'Night': 0})
data['Civil_Twilight'] = data['Civil_Twilight'].replace({'Day': 1, 'Night': 0})
data['Nautical_Twilight'] = data['Nautical_Twilight'].replace({'Day': 1, 'Night': 0})
data['Astronomical_Twilight'] = data['Astronomical_Twilight'].replace({'Day': 1, 'Night': 0})

In [38]:
data.loc[data['Weather_Condition']=='Clear', 'Weather_Condition'] = '0'
data.loc[(data['Weather_Condition']=='Overcast')|(data['Weather_Condition']=='Mostly Cloudy'), 'Weather_Condition'] = '1'
data.loc[(data['Weather_Condition']=='Partly Cloudy')|(data['Weather_Condition']=='Scattered Clouds')|(data['Weather_Condition']=='Cloudy'), 'Weather_Condition'] = '2'
data.loc[(data['Weather_Condition']=='Light Snow')|(data['Weather_Condition']=='Snow'), 'Weather_Condition'] = '3'
data.loc[(data['Weather_Condition']=='Light Freezing Rain')|(data['Weather_Condition']=='Light Rain')|(data['Weather_Condition']=='Rain')|(data['Weather_Condition']=='Light Drizzle')|(data['Weather_Condition']=='Light Rain Showers')|(data['Weather_Condition']=='Drizzle'), 'Weather_Condition'] = '4'
data.loc[data['Weather_Condition']=='Heavy Rain', 'Weather_Condition'] = '5'
data.loc[(data['Weather_Condition']=='Light Freezing Rain')|(data['Weather_Condition']=='Light Freezing Drizzle'), 'Weather_Condition'] = '6'
data.loc[(data['Weather_Condition']=='Haze')|(data['Weather_Condition']=='Fog')|(data['Weather_Condition']=='Shallow Fog'), 'Weather_Condition'] = '7'
data.loc[data['Weather_Condition']=='Mist', 'Weather_Condition'] = '1234567'

In [39]:
print(data)

      Severity          Start_Time  Temperature(F)  Pressure(in)  Visibility(mi)  Wind_Speed(mph)  \
0            3 2016-02-08 05:46:00            36.9         29.68            10.0         9.817681
1            2 2016-02-08 06:07:59            37.9         29.65            10.0         9.817681
2            2 2016-02-08 06:49:27            36.0         29.67            10.0         3.500000
3            3 2016-02-08 07:23:34            35.1         29.64             9.0         4.600000
4            2 2016-02-08 07:39:07            36.0         29.65             6.0         3.500000
...        ...                 ...             ...           ...             ...              ...
2810         3 2016-07-12 14:43:08            93.9         29.88            10.0        10.400000
2811         2 2016-07-12 15:12:42            87.1         29.91            10.0         6.900000
2812         2 2016-07-12 15:45:38            88.0         29.89            10.0         9.200000
2813         3 2016-07-12 15:26:19            89.6         29.91            10.0         3.500000
2814         2 2016-07-12 15:50:04            84.2         30.03            10.0         6.900000

     Weather_Condition  Crossing  Junction  Stop  Traffic_Signal  Sunrise_Sunset  Civil_Twilight  \
0                    4         0         0     0               0               0               0
1                    4         0         0     0               0               0               0
2                    1         0         0     0               1               0               0
3                    1         0         0     0               0               0               1
4                    1         0         0     0               1               1               1
...                ...       ...       ...   ...             ...             ...             ...
2810                 0         0         0     0               0               1               1
2811                 0         0         0     0               0               1               1
2812                 0         0         0     0               0               1               1
2813                 0         1         0     0               1               1               1
2814                 0         0         0     0               0               1               1

      Nautical_Twilight  Astronomical_Twilight  Duration
0                     0                      0       314
1                     0                      1        30
2                     1                      1        30
3                     1                      1        30
4                     1                      1        30
...                 ...                    ...       ...
2810                  1                      1        30
2811                  1                      1        75
2812                  1                      1        75
2813                  1                      1        75
2814                  1                      1        75

[2815 rows x 16 columns]

In [40]:
data = data.drop(['Start_Time'], axis=1)

In [41]:
print(data)

      Severity  Temperature(F)  Pressure(in)  Visibility(mi)  Wind_Speed(mph) Weather_Condition  \
0            3            36.9         29.68            10.0         9.817681                 4
1            2            37.9         29.65            10.0         9.817681                 4
2            2            36.0         29.67            10.0         3.500000                 1
3            3            35.1         29.64             9.0         4.600000                 1
4            2            36.0         29.65             6.0         3.500000                 1
...        ...             ...           ...             ...              ...               ...
2810         3            93.9         29.88            10.0        10.400000                 0
2811         2            87.1         29.91            10.0         6.900000                 0
2812         2            88.0         29.89            10.0         9.200000                 0
2813         3            89.6         29.91            10.0         3.500000                 0
2814         2            84.2         30.03            10.0         6.900000                 0

      Crossing  Junction  Stop  Traffic_Signal  Sunrise_Sunset  Civil_Twilight  Nautical_Twilight  \
0            0         0     0               0               0               0                  0
1            0         0     0               0               0               0                  0
2            0         0     0               1               0               0                  1
3            0         0     0               0               0               1                  1
4            0         0     0               1               1               1                  1
...        ...       ...   ...             ...             ...             ...                ...
2810         0         0     0               0               1               1                  1
2811         0         0     0               0               1               1                  1
2812         0         0     0               0               1               1                  1
2813         1         0     0               1               1               1                  1
2814         0         0     0               0               1               1                  1

      Astronomical_Twilight  Duration
0                         0       314
1                         1        30
2                         1        30
3                         1        30
4                         1        30
...                     ...       ...
2810                      1        30
2811                      1        75
2812                      1        75
2813                      1        75
2814                      1        75

[2815 rows x 15 columns]

In [42]:
data['Severity4'] = 0
data.loc[data['Severity'] == 4, 'Severity4'] = 1
data = data.drop(['Severity'], axis = 1)
data.Severity4.value_counts()

0    2812
1       3
Name: Severity4, dtype: int64

#### RANDOM FOREST

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
array = data.values
X = array[:,1:14]
Y = array[:,0]
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, shuffle=True, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

ValueError:
All the 10 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\lucal\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\lucal\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 385, in fit
    y, expanded_class_weight = self._validate_y_class_weight(y)
  File "C:\Users\lucal\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 746, in _validate_y_class_weight
    check_classification_targets(y)
  File "C:\Users\lucal\anaconda3\lib\site-packages\sklearn\utils\multiclass.py", line 207, in check_classification_targets
    raise ValueError("Unknown label type: %r" % y_type)
ValueError: Unknown label type: 'unknown'

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
array = data.values
X = array[:,1:14]
Y = array[:,0]
seed = 7
kfold = KFold(n_splits=10, shuffle=True, random_state=seed)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=seed)
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

In [ ]:
"""
categorical_columns = data.select_dtypes(exclude='number').columns.tolist()
data = data.drop(columns = categorical_columns)
array = data.values

X = array[:,1:12]
Y = array[:,0]

print(data)
# estrazione features
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X,Y)

# riassunto punteggi
print(fit.scores_)
features = fit.transform(X)

# riassunto features selezionate
print(features[0:5,:])

"""

In [ ]:
#import sklearn.linear_model
#from sklearn.feature_selection import RFE
#from sklearn.linear_model import LogisticRegression
# load data


#array = data2.values
#X = array[:,0:20]
#Y = array[:,20]
# feature extraction
#model = LogisticRegression()
#rfe = RFE(model, 3)
#fit = rfe.fit(X, Y)
#print("Num Features: %d") % fit.n_features_
#print("Selected Features: %s") % fit.support_
#print("Feature Ranking: %s") % fit.ranking_

## PROVA CON UNISELECT

In [44]:
print(df)

          ID   Source  Severity           Start_Time             End_Time  Start_Lat   Start_Lng  \
0        A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00  39.865147  -84.058723
1        A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59  39.928059  -82.831184
2        A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27  39.063148  -84.032608
3        A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34  39.747753  -84.205582
4        A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07  39.627781  -84.188354
...      ...      ...       ...                  ...                  ...        ...         ...
2831  A-2832  Source2         2  2016-07-12 15:12:42  2016-07-12 16:27:42  38.474407 -121.419067
2832  A-2833  Source2         2  2016-07-12 15:45:38  2016-07-12 17:00:38  38.495541 -121.511070
2833  A-2834  Source2         3  2016-07-12 15:26:19  2016-07-12 16:41:19  38.588917 -121.415375
2834  A-2835  Source2         2  2016-07-12 15:50:04  2016-07-12 17:05:04  38.742481 -120.747398
2835  A-2836  Source2         2  2016-07-12 16:12:21  2016-07-12 16:42:21  38.567966 -122.829018

      End_Lat  End_Lng  Distance(mi)  ... Roundabout Station   Stop Traffic_Calming  \
0         NaN      NaN          0.01  ...      False   False  False           False
1         NaN      NaN          0.01  ...      False   False  False           False
2         NaN      NaN          0.01  ...      False   False  False           False
3         NaN      NaN          0.01  ...      False   False  False           False
4         NaN      NaN          0.01  ...      False   False  False           False
...       ...      ...           ...  ...        ...     ...    ...             ...
2831      NaN      NaN          0.00  ...      False   False  False           False
2832      NaN      NaN          0.00  ...      False   False  False           False
2833      NaN      NaN          0.00  ...      False   False  False           False
2834      NaN      NaN          0.00  ...      False   False  False           False
2835      NaN      NaN          0.00  ...        NaN     NaN    NaN             NaN

     Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0             False        False          Night          Night             Night
1             False        False          Night          Night             Night
2              True        False          Night          Night               Day
3             False        False          Night            Day               Day
4              True        False            Day            Day               Day
...             ...          ...            ...            ...               ...
2831          False        False            Day            Day               Day
2832          False        False            Day            Day               Day
2833           True        False            Day            Day               Day
2834          False        False            Day            Day               Day
2835            NaN          NaN            NaN            NaN               NaN

     Astronomical_Twilight
0                    Night
1                      Day
2                      Day
3                      Day
4                      Day
...                    ...
2831                   Day
2832                   Day
2833                   Day
2834                   Day
2835                   NaN

[2836 rows x 46 columns]

In [45]:
df['Start_Time'] = pandas.to_datetime(df['Start_Time'])
df['End_Time'] = pandas.to_datetime(df['End_Time'])
df['Weather_Timestamp'] = pandas.to_datetime(df['Weather_Timestamp'])
df = df.drop(['ID', 'Source', 'Description', 'State', 'Country', 'Street', 'City', 'County', 'Timezone', 'Airport_Code', 'Zipcode', 'Weather_Timestamp'], axis=1)
print(df)
print(df.columns)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  End_Lat  End_Lng  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723      NaN      NaN
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184      NaN      NaN
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608      NaN      NaN
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582      NaN      NaN
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354      NaN      NaN
...        ...                 ...                 ...        ...         ...      ...      ...
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067      NaN      NaN
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070      NaN      NaN
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375      NaN      NaN
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398      NaN      NaN
2835         2 2016-07-12 16:12:21 2016-07-12 16:42:21  38.567966 -122.829018      NaN      NaN

      Distance(mi)  Temperature(F)  Wind_Chill(F)  ...  Roundabout  Station   Stop  \
0             0.01            36.9            NaN  ...       False    False  False
1             0.01            37.9            NaN  ...       False    False  False
2             0.01            36.0           33.3  ...       False    False  False
3             0.01            35.1           31.0  ...       False    False  False
4             0.01            36.0           33.3  ...       False    False  False
...            ...             ...            ...  ...         ...      ...    ...
2831          0.00            87.1            NaN  ...       False    False  False
2832          0.00            88.0            NaN  ...       False    False  False
2833          0.00            89.6            NaN  ...       False    False  False
2834          0.00            84.2            NaN  ...       False    False  False
2835          0.00             NaN            NaN  ...         NaN      NaN    NaN

     Traffic_Calming  Traffic_Signal  Turning_Loop Sunrise_Sunset Civil_Twilight  \
0              False           False         False          Night          Night
1              False           False         False          Night          Night
2              False            True         False          Night          Night
3              False           False         False          Night            Day
4              False            True         False            Day            Day
...              ...             ...           ...            ...            ...
2831           False           False         False            Day            Day
2832           False           False         False            Day            Day
2833           False            True         False            Day            Day
2834           False           False         False            Day            Day
2835             NaN             NaN           NaN            NaN            NaN

     Nautical_Twilight Astronomical_Twilight
0                Night                 Night
1                Night                   Day
2                  Day                   Day
3                  Day                   Day
4                  Day                   Day
...                ...                   ...
2831               Day                   Day
2832               Day                   Day
2833               Day                   Day
2834               Day                   Day
2835               NaN                   NaN

[2836 rows x 34 columns]
Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng',
       'Distance(mi)', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit',
       'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [46]:
df = df.drop(2835)
df = df.drop(['End_Lat', 'End_Lng'], axis=1)

In [47]:
df['Temperature(F)'].fillna(df['Temperature(F)'].mean(), inplace=True)
df['Precipitation(in)'].fillna(df['Precipitation(in)'].mean(), inplace=True)
df['Pressure(in)'].fillna(df['Pressure(in)'].mean(), inplace=True)
df['Visibility(mi)'].fillna(df['Visibility(mi)'].mean(), inplace=True)
df['Wind_Speed(mph)'].fillna(df['Wind_Speed(mph)'].mean(), inplace=True)
df['Wind_Chill(F)'].fillna(df['Wind_Chill(F)'].mean(), inplace=True)
df['Humidity(%)'].fillna(df['Humidity(%)'].mean(), inplace=True)
df.isna().any().any()

True

In [48]:
print(df)
print(df.columns)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  Distance(mi)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723          0.01
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184          0.01
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608          0.01
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582          0.01
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354          0.01
...        ...                 ...                 ...        ...         ...           ...
2830         3 2016-07-12 15:00:15 2016-07-12 16:15:15  37.742188 -121.525635          0.00
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067          0.00
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070          0.00
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375          0.00
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398          0.00

      Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  ...  Roundabout Station   Stop  \
0               36.9      23.368696         91.0         29.68  ...       False   False  False
1               37.9      23.368696        100.0         29.65  ...       False   False  False
2               36.0      33.300000        100.0         29.67  ...       False   False  False
3               35.1      31.000000         96.0         29.64  ...       False   False  False
4               36.0      33.300000         89.0         29.65  ...       False   False  False
...              ...            ...          ...           ...  ...         ...     ...    ...
2830            89.1      23.368696         22.0         29.91  ...       False   False  False
2831            87.1      23.368696         29.0         29.91  ...       False   False  False
2832            88.0      23.368696         28.0         29.89  ...       False   False  False
2833            89.6      23.368696         22.0         29.91  ...       False   False  False
2834            84.2      23.368696         15.0         30.03  ...       False   False  False

      Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0               False          False        False          Night          Night             Night
1               False          False        False          Night          Night             Night
2               False           True        False          Night          Night               Day
3               False          False        False          Night            Day               Day
4               False           True        False            Day            Day               Day
...               ...            ...          ...            ...            ...               ...
2830            False          False        False            Day            Day               Day
2831            False          False        False            Day            Day               Day
2832            False          False        False            Day            Day               Day
2833            False           True        False            Day            Day               Day
2834            False          False        False            Day            Day               Day

     Astronomical_Twilight
0                    Night
1                      Day
2                      Day
3                      Day
4                      Day
...                    ...
2830                   Day
2831                   Day
2832                   Day
2833                   Day
2834                   Day

[2835 rows x 32 columns]
Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'Distance(mi)',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [49]:
df = df.dropna(subset=['Wind_Direction'])
df = df.dropna(subset=['Weather_Condition'])

In [50]:
df.isna().any().any()

False

In [51]:
print(df)
print(df.columns)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  Distance(mi)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723          0.01
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184          0.01
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608          0.01
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582          0.01
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354          0.01
...        ...                 ...                 ...        ...         ...           ...
2829         3 2016-07-12 14:43:08 2016-07-12 15:13:08  36.778355 -120.724655          0.00
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067          0.00
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070          0.00
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375          0.00
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398          0.00

      Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  ...  Roundabout Station   Stop  \
0               36.9      23.368696         91.0         29.68  ...       False   False  False
1               37.9      23.368696        100.0         29.65  ...       False   False  False
2               36.0      33.300000        100.0         29.67  ...       False   False  False
3               35.1      31.000000         96.0         29.64  ...       False   False  False
4               36.0      33.300000         89.0         29.65  ...       False   False  False
...              ...            ...          ...           ...  ...         ...     ...    ...
2829            93.9      23.368696         15.0         29.88  ...       False   False  False
2831            87.1      23.368696         29.0         29.91  ...       False   False  False
2832            88.0      23.368696         28.0         29.89  ...       False   False  False
2833            89.6      23.368696         22.0         29.91  ...       False   False  False
2834            84.2      23.368696         15.0         30.03  ...       False   False  False

      Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0               False          False        False          Night          Night             Night
1               False          False        False          Night          Night             Night
2               False           True        False          Night          Night               Day
3               False          False        False          Night            Day               Day
4               False           True        False            Day            Day               Day
...               ...            ...          ...            ...            ...               ...
2829            False          False        False            Day            Day               Day
2831            False          False        False            Day            Day               Day
2832            False          False        False            Day            Day               Day
2833            False           True        False            Day            Day               Day
2834            False          False        False            Day            Day               Day

     Astronomical_Twilight
0                    Night
1                      Day
2                      Day
3                      Day
4                      Day
...                    ...
2829                   Day
2831                   Day
2832                   Day
2833                   Day
2834                   Day

[2815 rows x 32 columns]
Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'Distance(mi)',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'],
      dtype='object')

In [52]:
df = df.replace([True, False], [1, 0])
df['Sunrise_Sunset'] = df['Sunrise_Sunset'].replace({'Day': 1, 'Night': 0})
df['Civil_Twilight'] = df['Civil_Twilight'].replace({'Day': 1, 'Night': 0})
df['Nautical_Twilight'] = df['Nautical_Twilight'].replace({'Day': 1, 'Night': 0})
df['Astronomical_Twilight'] = df['Astronomical_Twilight'].replace({'Day': 1, 'Night': 0})
print(df)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  Distance(mi)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723          0.01
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184          0.01
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608          0.01
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582          0.01
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354          0.01
...        ...                 ...                 ...        ...         ...           ...
2829         3 2016-07-12 14:43:08 2016-07-12 15:13:08  36.778355 -120.724655          0.00
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067          0.00
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070          0.00
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375          0.00
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398          0.00

      Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  ...  Roundabout Station  Stop  \
0               36.9      23.368696         91.0         29.68  ...           0       0     0
1               37.9      23.368696        100.0         29.65  ...           0       0     0
2               36.0      33.300000        100.0         29.67  ...           0       0     0
3               35.1      31.000000         96.0         29.64  ...           0       0     0
4               36.0      33.300000         89.0         29.65  ...           0       0     0
...              ...            ...          ...           ...  ...         ...     ...   ...
2829            93.9      23.368696         15.0         29.88  ...           0       0     0
2831            87.1      23.368696         29.0         29.91  ...           0       0     0
2832            88.0      23.368696         28.0         29.89  ...           0       0     0
2833            89.6      23.368696         22.0         29.91  ...           0       0     0
2834            84.2      23.368696         15.0         30.03  ...           0       0     0

      Traffic_Calming Traffic_Signal  Turning_Loop  Sunrise_Sunset  Civil_Twilight  \
0                   0              0             0               0               0
1                   0              0             0               0               0
2                   0              1             0               0               0
3                   0              0             0               0               1
4                   0              1             0               1               1
...               ...            ...           ...             ...             ...
2829                0              0             0               1               1
2831                0              0             0               1               1
2832                0              0             0               1               1
2833                0              1             0               1               1
2834                0              0             0               1               1

      Nautical_Twilight  Astronomical_Twilight
0                     0                      0
1                     0                      1
2                     1                      1
3                     1                      1
4                     1                      1
...                 ...                    ...
2829                  1                      1
2831                  1                      1
2832                  1                      1
2833                  1                      1
2834                  1                      1

[2815 rows x 32 columns]

In [53]:
print(df['Wind_Direction'].value_counts())

WNW         379
West        366
South       313
SSW         268
NW          242
Calm        208
SW          182
WSW         143
NNW         143
North       123
Variable     95
SSE          92
SE           64
NE           51
NNE          50
East         35
ENE          30
ESE          29
E             1
W             1
Name: Wind_Direction, dtype: int64

In [54]:
df.loc[df['Wind_Direction']=='Calm','Wind_Direction'] = '0'
df.loc[(df['Wind_Direction']=='South')|(df['Wind_Direction']=='SSW')|(df['Wind_Direction']=='SSE'),'Wind_Direction'] = '1'
df.loc[(df['Wind_Direction']=='SW'),'Wind_Direction'] = '12'
df.loc[(df['Wind_Direction']=='SE'),'Wind_Direction'] = '14'
df.loc[(df['Wind_Direction']=='West')|(df['Wind_Direction']=='W')|(df['Wind_Direction']=='WSW')|(df['Wind_Direction']=='WNW'),'Wind_Direction'] = '2'
df.loc[(df['Wind_Direction']=='North')|(df['Wind_Direction']=='NNW')|(df['Wind_Direction']=='NNE'),'Wind_Direction'] = '3'
df.loc[(df['Wind_Direction']=='NW'),'Wind_Direction'] = '32'
df.loc[(df['Wind_Direction']=='NE'),'Wind_Direction'] = '34'
df.loc[(df['Wind_Direction']=='East')|(df['Wind_Direction']=='ESE')|(df['Wind_Direction']=='ENE')|(df['Wind_Direction']=='E'),'Wind_Direction'] = '4'
df.loc[df['Wind_Direction']=='Variable','Wind_Direction'] = '1234'

In [55]:
print(df['Weather_Condition'].value_counts())

Clear                     1776
Overcast                   316
Partly Cloudy              235
Mostly Cloudy              149
Scattered Clouds           109
Light Snow                 104
Light Rain                  44
Haze                        30
Rain                        28
Light Freezing Drizzle      10
Heavy Rain                   3
Snow                         2
Fog                          2
Light Drizzle                1
Shallow Fog                  1
Light Freezing Rain          1
Cloudy                       1
Drizzle                      1
Light Rain Showers           1
Mist                         1
Name: Weather_Condition, dtype: int64

In [56]:
print(df)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  Distance(mi)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723          0.01
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184          0.01
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608          0.01
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582          0.01
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354          0.01
...        ...                 ...                 ...        ...         ...           ...
2829         3 2016-07-12 14:43:08 2016-07-12 15:13:08  36.778355 -120.724655          0.00
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067          0.00
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070          0.00
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375          0.00
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398          0.00

      Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  ...  Roundabout Station  Stop  \
0               36.9      23.368696         91.0         29.68  ...           0       0     0
1               37.9      23.368696        100.0         29.65  ...           0       0     0
2               36.0      33.300000        100.0         29.67  ...           0       0     0
3               35.1      31.000000         96.0         29.64  ...           0       0     0
4               36.0      33.300000         89.0         29.65  ...           0       0     0
...              ...            ...          ...           ...  ...         ...     ...   ...
2829            93.9      23.368696         15.0         29.88  ...           0       0     0
2831            87.1      23.368696         29.0         29.91  ...           0       0     0
2832            88.0      23.368696         28.0         29.89  ...           0       0     0
2833            89.6      23.368696         22.0         29.91  ...           0       0     0
2834            84.2      23.368696         15.0         30.03  ...           0       0     0

      Traffic_Calming Traffic_Signal  Turning_Loop  Sunrise_Sunset  Civil_Twilight  \
0                   0              0             0               0               0
1                   0              0             0               0               0
2                   0              1             0               0               0
3                   0              0             0               0               1
4                   0              1             0               1               1
...               ...            ...           ...             ...             ...
2829                0              0             0               1               1
2831                0              0             0               1               1
2832                0              0             0               1               1
2833                0              1             0               1               1
2834                0              0             0               1               1

      Nautical_Twilight  Astronomical_Twilight
0                     0                      0
1                     0                      1
2                     1                      1
3                     1                      1
4                     1                      1
...                 ...                    ...
2829                  1                      1
2831                  1                      1
2832                  1                      1
2833                  1                      1
2834                  1                      1

[2815 rows x 32 columns]

In [57]:
df.loc[df['Weather_Condition']=='Clear', 'Weather_Condition'] = '0'
df.loc[(df['Weather_Condition']=='Overcast')|(df['Weather_Condition']=='Mostly Cloudy'), 'Weather_Condition'] = '1'
df.loc[(df['Weather_Condition']=='Partly Cloudy')|(df['Weather_Condition']=='Scattered Clouds')|(df['Weather_Condition']=='Cloudy'), 'Weather_Condition'] = '2'
df.loc[(df['Weather_Condition']=='Light Snow')|(df['Weather_Condition']=='Snow'), 'Weather_Condition'] = '3'
df.loc[(df['Weather_Condition']=='Light Freezing Rain')|(df['Weather_Condition']=='Light Rain')|(df['Weather_Condition']=='Rain')|(df['Weather_Condition']=='Light Drizzle')|(df['Weather_Condition']=='Light Rain Showers')|(df['Weather_Condition']=='Drizzle'), 'Weather_Condition'] = '4'
df.loc[df['Weather_Condition']=='Heavy Rain', 'Weather_Condition'] = '5'
df.loc[(df['Weather_Condition']=='Light Freezing Rain')|(df['Weather_Condition']=='Light Freezing Drizzle'), 'Weather_Condition'] = '6'
df.loc[(df['Weather_Condition']=='Haze')|(df['Weather_Condition']=='Fog')|(df['Weather_Condition']=='Shallow Fog'), 'Weather_Condition'] = '7'
df.loc[df['Weather_Condition']=='Mist', 'Weather_Condition'] = '1234567'
print(df['Weather_Condition'].value_counts())

0          1776
1           465
2           345
3           106
4            76
7            33
6            10
5             3
1234567       1
Name: Weather_Condition, dtype: int64

In [58]:
print(df)

      Severity          Start_Time            End_Time  Start_Lat   Start_Lng  Distance(mi)  \
0            3 2016-02-08 05:46:00 2016-02-08 11:00:00  39.865147  -84.058723          0.01
1            2 2016-02-08 06:07:59 2016-02-08 06:37:59  39.928059  -82.831184          0.01
2            2 2016-02-08 06:49:27 2016-02-08 07:19:27  39.063148  -84.032608          0.01
3            3 2016-02-08 07:23:34 2016-02-08 07:53:34  39.747753  -84.205582          0.01
4            2 2016-02-08 07:39:07 2016-02-08 08:09:07  39.627781  -84.188354          0.01
...        ...                 ...                 ...        ...         ...           ...
2829         3 2016-07-12 14:43:08 2016-07-12 15:13:08  36.778355 -120.724655          0.00
2831         2 2016-07-12 15:12:42 2016-07-12 16:27:42  38.474407 -121.419067          0.00
2832         2 2016-07-12 15:45:38 2016-07-12 17:00:38  38.495541 -121.511070          0.00
2833         3 2016-07-12 15:26:19 2016-07-12 16:41:19  38.588917 -121.415375          0.00
2834         2 2016-07-12 15:50:04 2016-07-12 17:05:04  38.742481 -120.747398          0.00

      Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  ...  Roundabout Station  Stop  \
0               36.9      23.368696         91.0         29.68  ...           0       0     0
1               37.9      23.368696        100.0         29.65  ...           0       0     0
2               36.0      33.300000        100.0         29.67  ...           0       0     0
3               35.1      31.000000         96.0         29.64  ...           0       0     0
4               36.0      33.300000         89.0         29.65  ...           0       0     0
...              ...            ...          ...           ...  ...         ...     ...   ...
2829            93.9      23.368696         15.0         29.88  ...           0       0     0
2831            87.1      23.368696         29.0         29.91  ...           0       0     0
2832            88.0      23.368696         28.0         29.89  ...           0       0     0
2833            89.6      23.368696         22.0         29.91  ...           0       0     0
2834            84.2      23.368696         15.0         30.03  ...           0       0     0

      Traffic_Calming Traffic_Signal  Turning_Loop  Sunrise_Sunset  Civil_Twilight  \
0                   0              0             0               0               0
1                   0              0             0               0               0
2                   0              1             0               0               0
3                   0              0             0               0               1
4                   0              1             0               1               1
...               ...            ...           ...             ...             ...
2829                0              0             0               1               1
2831                0              0             0               1               1
2832                0              0             0               1               1
2833                0              1             0               1               1
2834                0              0             0               1               1

      Nautical_Twilight  Astronomical_Twilight
0                     0                      0
1                     0                      1
2                     1                      1
3                     1                      1
4                     1                      1
...                 ...                    ...
2829                  1                      1
2831                  1                      1
2832                  1                      1
2833                  1                      1
2834                  1                      1

[2815 rows x 32 columns]

In [59]:
df = df.drop(['Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'Wind_Chill(F)'], axis=1)
print(df)

      Severity  Distance(mi)  Temperature(F)  Humidity(%)  Pressure(in)  Visibility(mi)  \
0            3          0.01            36.9         91.0         29.68            10.0
1            2          0.01            37.9        100.0         29.65            10.0
2            2          0.01            36.0        100.0         29.67            10.0
3            3          0.01            35.1         96.0         29.64             9.0
4            2          0.01            36.0         89.0         29.65             6.0
...        ...           ...             ...          ...           ...             ...
2829         3          0.00            93.9         15.0         29.88            10.0
2831         2          0.00            87.1         29.0         29.91            10.0
2832         2          0.00            88.0         28.0         29.89            10.0
2833         3          0.00            89.6         22.0         29.91            10.0
2834         2          0.00            84.2         15.0         30.03            10.0

     Wind_Direction  Wind_Speed(mph)  Precipitation(in) Weather_Condition  ...  Roundabout  \
0                 0         9.817681           0.020000                 4  ...           0
1                 0         9.817681           0.000000                 4  ...           0
2                12         3.500000           0.021596                 1  ...           0
3                12         4.600000           0.021596                 1  ...           0
4                12         3.500000           0.021596                 1  ...           0
...             ...              ...                ...               ...  ...         ...
2829              3        10.400000           0.021596                 0  ...           0
2831              1         6.900000           0.021596                 0  ...           0
2832              1         9.200000           0.021596                 0  ...           0
2833             12         3.500000           0.021596                 0  ...           0
2834              2         6.900000           0.021596                 0  ...           0

      Station  Stop  Traffic_Calming  Traffic_Signal  Turning_Loop  Sunrise_Sunset  \
0           0     0                0               0             0               0
1           0     0                0               0             0               0
2           0     0                0               1             0               0
3           0     0                0               0             0               0
4           0     0                0               1             0               1
...       ...   ...              ...             ...           ...             ...
2829        0     0                0               0             0               1
2831        0     0                0               0             0               1
2832        0     0                0               0             0               1
2833        0     0                0               1             0               1
2834        0     0                0               0             0               1

      Civil_Twilight  Nautical_Twilight  Astronomical_Twilight
0                  0                  0                      0
1                  0                  0                      1
2                  0                  1                      1
3                  1                  1                      1
4                  1                  1                      1
...              ...                ...                    ...
2829               1                  1                      1
2831               1                  1                      1
2832               1                  1                      1
2833               1                  1                      1
2834               1                  1                      1

[2815 rows x 27 columns]

In [60]:
print(df['Severity'].value_counts())

2    1645
3    1163
1       4
4       3
Name: Severity, dtype: int64

In [61]:
print(df.columns)

Index(['Severity', 'Distance(mi)', 'Temperature(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit',
       'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [62]:
df['Severity4'] = 0
df.loc[(df['Severity'] == 4)|(df['Severity'] == 3), 'Severity4'] = 1
df = df.drop(['Severity'], axis = 1)
df.Severity4.value_counts()
print(df.columns)

Index(['Distance(mi)', 'Temperature(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight', 'Severity4'],
      dtype='object')

In [63]:
print(df)

      Distance(mi)  Temperature(F)  Humidity(%)  Pressure(in)  Visibility(mi) Wind_Direction  \
0             0.01            36.9         91.0         29.68            10.0              0
1             0.01            37.9        100.0         29.65            10.0              0
2             0.01            36.0        100.0         29.67            10.0             12
3             0.01            35.1         96.0         29.64             9.0             12
4             0.01            36.0         89.0         29.65             6.0             12
...            ...             ...          ...           ...             ...            ...
2829          0.00            93.9         15.0         29.88            10.0              3
2831          0.00            87.1         29.0         29.91            10.0              1
2832          0.00            88.0         28.0         29.89            10.0              1
2833          0.00            89.6         22.0         29.91            10.0             12
2834          0.00            84.2         15.0         30.03            10.0              2

      Wind_Speed(mph)  Precipitation(in) Weather_Condition  Amenity  ...  Station  Stop  \
0            9.817681           0.020000                 4        0  ...        0     0
1            9.817681           0.000000                 4        0  ...        0     0
2            3.500000           0.021596                 1        0  ...        0     0
3            4.600000           0.021596                 1        0  ...        0     0
4            3.500000           0.021596                 1        0  ...        0     0
...               ...                ...               ...      ...  ...      ...   ...
2829        10.400000           0.021596                 0        0  ...        0     0
2831         6.900000           0.021596                 0        0  ...        0     0
2832         9.200000           0.021596                 0        0  ...        0     0
2833         3.500000           0.021596                 0        0  ...        0     0
2834         6.900000           0.021596                 0        0  ...        0     0

      Traffic_Calming  Traffic_Signal  Turning_Loop  Sunrise_Sunset  Civil_Twilight  \
0                   0               0             0               0               0
1                   0               0             0               0               0
2                   0               1             0               0               0
3                   0               0             0               0               1
4                   0               1             0               1               1
...               ...             ...           ...             ...             ...
2829                0               0             0               1               1
2831                0               0             0               1               1
2832                0               0             0               1               1
2833                0               1             0               1               1
2834                0               0             0               1               1

      Nautical_Twilight  Astronomical_Twilight  Severity4
0                     0                      0          1
1                     0                      1          0
2                     1                      1          0
3                     1                      1          1
4                     1                      1          0
...                 ...                    ...        ...
2829                  1                      1          1
2831                  1                      1          0
2832                  1                      1          0
2833                  1                      1          1
2834                  1                      1          0

[2815 rows x 27 columns]

In [64]:
#(df['Wind_Chill(F)'] < 0).any()

In [75]:
df['Severity4'].astype(int)

0       1
1       0
2       0
3       1
4       0
       ..
2829    1
2831    0
2832    0
2833    1
2834    0
Name: Severity4, Length: 2815, dtype: int32

In [77]:
array = df.values

X = array[:,0:25]
Y = df['Severity4']

# estrazione features
test = SelectKBest(score_func=chi2, k=10)
fit = test.fit(X,Y)

# riassunto punteggi
print(fit.scores_)
features = fit.transform(X)

# riassunto features selezionate
print(features[0:5,:])

[8.12118143e+00 3.40292254e+01 6.79989858e+01 8.03733109e-06
 3.47949299e+00 1.49650633e+02 2.27085760e+01 6.21448427e-03
 8.71546679e+05 1.90849725e+01 1.41423671e+00 8.00983654e+01
 4.94966646e+00 7.23952345e+01 4.24271012e+00 2.24275751e+00
 7.07095209e-01 8.91664253e+00 3.32980067e+01 6.06659580e-02
 1.21073999e+02            nan 6.79749534e-01 5.18313222e-02
 8.90549842e-03]
[[36.9 91.0 '0' 9.817681047765792 '4' 0 0 0 0 0]
 [37.9 100.0 '0' 9.817681047765792 '4' 0 0 0 0 0]
 [36.0 100.0 '12' 3.5 '1' 0 0 0 0 1]
 [35.1 96.0 '12' 4.6 '1' 0 0 0 0 0]
 [36.0 89.0 '12' 3.5 '1' 0 0 0 0 1]]